.progress {
    background-color: rgba(128, 128, 128, 0.5);
}

body {
    background-color: rgb(240, 240, 255);
}

.progress {
    width: 100vw;
    height: 100vh;
}

.progress, .progress-bar {
    animation-timing-function: linear;
    font-size: 6vmax;
    overflow: visible;
}

#modeToggles {
    width: 100%;
}

input[type=color] {
    display: inline-block;
    height: 2.4rem;
    flex: none !important;
    width: 3rem !important;
}

#preview {
    height: 2.4rem;
    border: none;
    margin: 0;
    top: -.4rem;
    background-color: rgb(240, 240, 255);
}

#preview > .progress {
    height: 2.4rem;
    width: 100%;
}

#preview > .progress > .progress-bar {
    width: 25%;
    font-size: 2.4rem;
}

#obsDrag {
    height: 5.5rem;
    cursor: grab;
}

.btn-twitch {
    background-color: rgb(145, 70, 255);
    color: rgb(240, 240, 255);
}

.btn-twitch:hover {
    background-color: rgb(130, 5, 180);
    color: rgb(240, 240, 255);
}

.btn-twitch-remove {
    background-color: rgb(250, 40, 40);
}

.btn-twitch-remove:hover {
    background-color: rgb(160, 25, 25);
}

.btn-twitch > img {
    height: 1.5rem;
    margin-left: .5rem;
}

.form-control:hover, .form-control:focus, .input-group-text:hover {
    background-color: white;
}

input[type=color]:hover + label {
    background-color: white;
}

#obsOutputDiv {
    margin-top: 2.5rem;
}

@media (prefers-color-scheme: dark) {
    body, #preview {
        background-color: #1b1c1f;
        color: rgb(193, 193, 207);
    }

    .form-control, .input-group-text {
        background-color: #16171a;
        color: rgb(193, 193, 207);
        border-color: #35383c;
    }

    .form-control:hover, .form-control:focus, .input-group-text:hover {
        background-color: #060607;
        color: rgb(193, 193, 207);
    }

    input[type=color]:hover + label {
        background-color: #060607;
    }

    #obsDrag {
        filter: invert(.9);
    }
}
